.bg-image{
    background-image: url("/Users/macbookpro/Desktop/wyncode/c41/fansite/collage photo.jpg");
    /* background-repeat:  */

}


h1 ,h2{
    font-size: 100px;
    -webkit-text-stroke: 3px black;
    text-shadow: 2px 5px 7px black;
    color: red;
    text-align: center;
    padding: 3rem;
}

h2{
    text-align: center;
    color: honeydew;
    text-emphasis-color: black;

}

ul{
    color: white;
    text-shadow: 2px 5px 7px black;
    font-size: 35px;
}
.center{
    display: block;
    margin: auto;
    width: 50%;
}

img{
    border: 10px solid rgb(254, 254, 254);
}


